body {
	font-family: "Arial";
	background-color: "black";
}

canvas {
	margin: 100 30 30 30;
	background-color: black;
}

img {
	display: none;
}

#btnT, #btnB {
	display: none;
}

h3 {
	font-size: 24;
}

p {
	font-size: 20;
}

code {
	font-family: "Courier";
	font-weight: 700;
}